<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>

    <!-- Core settings -->
    <add key="ServerErrorMessage" value="There was an error processing your request."/>   
    
    <!-- Admin settings -->
    <add key="BabySubscription" value="4.95"/>
    <add key="StandardSubscription" value="19.95"/>
    <add key="PremiumSubscription" value="49.95"/>
    <add key="PeopleWithPower" value="Greg, Trump"/>
    
    <!-- Blog settings -->
    <add key="BlogsEnabled" value="true"/>
    <add key="MaxBlogsPerPage" value="25"/>   
    
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
